
 <div class="container">
<div class="card row">
  <h3 class="card-header">User Registration Form</h3>
  <div class="card-body"> 
<div class="col-xs-12 col-lg-10 col-xl-8">
        <div class="card row">
          <div class="card-header">
            <h4 class="mr-auto mb-0 pr-3">Settings</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="Name">Name</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="Password">12345 Password</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="Password">12345 Password</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
          </div>
        </div>
      </div>
  </div>  
  </div>
  </div>