
<div class="card">
  <h3 class="card-header text-lg-left">List of Documents</h3>
  <div class="card-body table-responsive">    
  <table class="table table-hover no-cellpadding">
    <thead>
      <tr>
        <th scope="row">No.</th>
        <th scope="row">File Name</th>
        <th scope="row">Type</th>
        <th scope="row">Description</th>
        <th scope="row"></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of files | async; index as i">
        <td>{{i+1}}</td>
        <td>{{file.originalname}}</td>
        <td>{{file.mimetype}}</td>
        <td>{{file.desc}}</td>
        <td><button  (click)="download(file.filename)" class="btn btn-success float-left">download</button><button  (click)="delete(file.filename)" class="btn btn-danger float-right">delete</button></td>
    </tr>
    </tbody>
  </table>
   </div>  
  </div> 
<br>

<div class="card">
  <h3 class="card-header text-lg-left">Upload New Document</h3>
  <div class="card-body">    
    <form id="fileuploadform" method="post" ngNativeValidate>
      <div class="form-group row">
          <label for="fname" class="col-md-4 col-form-label text-md-left">Upload a document</label>
          <div class="col-md-8">
              <input  type="file" id="fname" class="form-control"  name="fname" ng2FileSelect [uploader]="uploader" required>
          </div>
      </div>

      <div class="form-group row">
      <label for="filedesc" class="col-md-4 col-form-label text-md-left">Description</label>
       <div class="col-md-8">
          <input type="text" id="filedesc" class="form-control" name="filedesc" [(ngModel)]="filedesc" required>
      </div>
      </div>
      <div class="progress" style="">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
      <br>
      <div style="color: green" class="col-md-2" *ngIf="!uploader.isUploading && upCnt">File uploaded</div>
      <div class="col-md-6 offset-md-10">
       <button type="submit" value="submit" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"  class="btn btn-primary">
              Upload
      </button>
      </div>      
  </form>
  </div>  
  </div>
<br>
<div class="card">
  <div class="card-header text-lg-left">Go to <a href="/users">Users list</a></div>
</div>


